.saveButton{
    margin: 0 auto 40px;
}


.action_save{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.action-center{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}

.modalact .modal-dialog {
    max-width: 30%;
    margin: auto;
    margin-top: 2vw;
}

.modalact .modal-content {
    padding: 20px;
}


