.sidebar a {
    color: black !important;
}

.flex-column {
    margin-top: 3vw;
    margin-left: 1.5vw;
}

.sidebar h5 {
    color: #c1c1c1;
}

.container_information_client label{
 font-size: 16px;

}


.modal__detail-user p{
color: rgb(0, 0, 0);
}

.modal__detail-user strong{
    color: rgb(112, 112, 112);
    font-size: 15px;
    }


    